.quiz-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-score h2 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-score p {
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  margin: auto;
}
