.div-header {
  background-color: rgb(122, 121, 121);
  display: flex;
  justify-content: space-between;
}

header {
  font-size: 40px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem;
}

.input {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-search {
  flex: 1;
  background-color: rgba(168, 166, 166, 0.2);
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  padding: 0.5rem 2.5rem 0.5rem 3rem;
  background-image: url('../assets/search-icon.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
