.App {
  /* text-align: center; */
  margin: 2rem;
  height: 100%;
  /* width: 100%; */
}

.card-row {
  display: flex;
  min-width: fit-content;
  gap: 30px;
}

.outer-container {
  flex: 1;
  width: 100%;
  /* overflow-x: auto; */
}
