.email-container {
  display: flex;
  margin-top: 30px;
  justify-content: flex-start;
  border-bottom: 2px solid grey;
  margin-bottom: 25px;
}

.email-container:nth-child(3),
.email-container:nth-child(4) {
  margin-top: 35px;
}

.email-container img {
  margin-bottom: 5px;
}

.email-container input {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 550;
  margin-left: 10px;
}

@media screen and (max-width: 576px) {
  .email-container {
    margin-bottom: 2.5rem;
  }

  .email-container img {
    margin-bottom: 2px;
    margin-left: 0;
  }

  .email-container input {
    border: none;
    margin: 0rem 1rem 0rem 1rem;
  }
}
