/* .left-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
} */

/* .email-container {
  display: flex;
  margin-top: 30px;
  justify-content: flex-start;
  border-bottom: 2px solid grey;
  margin-bottom: 25px;
}

.email-container:nth-child(3),
.email-container:nth-child(4) {
  margin-top: 35px;
}

.email-container img {
  margin-bottom: 5px;
}

.email-container input {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 550;
  margin-left: 10px;
} */

/* .left-container p {
  text-align: center;
}

.left-container a {
  color: #7d2ae8;
} */

.right-container {
  background-image: url(../assets/join5.jpg);
  background-color: rgba(238, 111, 238, 0.5);
  background-blend-mode: overlay;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.right-container p,
h6 {
  color: #fff;
  text-align: center;
}

.right-container p {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 12rem;
}

.right-container p:nth-child(2) {
  margin-top: -2rem;
}

h6 {
  font-size: 1rem;
  margin-top: -2rem;
}

@media screen and (max-width: 576px) {
  .right-container {
    display: none;
  }
}
