.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 100px auto;
  background-color: #fff;
  max-width: 1000px;
  height: auto;
}

@media screen and (max-width: 576px) {
  .main-container {
    display: flex;
    height: 500px;
    margin-top: 7.5rem;
  }
}
